﻿@model Exercises.Models.Data.State

@{
    ViewBag.Title = "AddState";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>
        @Html.ActionLink("Return to List", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>State Name</label>
                @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "StateName" })
                <label>State Abbreviation</label>
                @Html.TextBoxFor(m=>m.StateAbbreviation, new {@class = "form-control", placeholder = "StateAbbreviation"})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>
