﻿@model Exercises.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Address";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Student Address</h3>
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Address</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Street:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.Street1, new { @class = "form-control", placeholder = "Street" })
                                    </div>
                                    <div class="form-group">
                                        <label>Street 2:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.Street2, new { @class = "form-control", placeholder = "Street 2" })
                                    </div>
                                    <div class="form-group">
                                        <label>State:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.State.StateAbbreviation, new {@class = "form-control", placeholder = "StateAbbreviation"})
                                    </div>
                                    <div class="form-group">
                                        <label>Zip:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.PostalCode, new { @class = "form-control", placeholder = "PostalCode" })
                                    </div>

                                    <button class="btn btn-primary">Save</button>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
