﻿@model SG_Corp.Models.ViewModels.JobVM

@{
    ViewBag.Title = "Apply";
}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Application</h3>
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m=>m.Job.JobId)
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    @Html.HiddenFor(m => m.Applicant.id)
                                    <div class="form-group">
                                        <label>Name:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Name, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Email, new {@class = "form-control"})
                                    </div>
                                    <div class="form-group">
                                        <label>Phone Number:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Phone, new {@class = "form-control"})
                                    </div>
                                    <div class="form-group">
                                        <label>Other Information:</label>
                                        @Html.TextAreaFor(m => m.Applicant.OtherInfo, new { @class = "form-control", placeholder = "Information about yourself and why you would be the best fit for this position."} )
                                    </div>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Address</h4>
                                    </div>
                                    <div class="form-group">
                                        <label>Street:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Address.Street1, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Street 2:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Address.Street2, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>City:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Address.City, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>State:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Address.State, new {@class = "form-control"})
                                    </div>
                                    <div class="form-group">
                                        <label>Zip:</label>
                                        @Html.TextBoxFor(m => m.Applicant.Address.PostalCode, new {@class = "form-control"})
                                    </div>
                                                                      
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
