﻿@using System.Threading
@model List<SG_Corp.Models.Data.Job>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>Jobs List</h4>
                @if (Model != null)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Job Position</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var job in Model)
                        {
                            <tr>
                                <td>@job.JobName</td>
                                <td>
                                @if (!string.IsNullOrEmpty(job.Description))
                                {
                                    @job.Description
                                }
                                else
                                {
                                    <p>No model description at this time.</p>
                                }
                                </td>
                                <td>
                                    @if (!job.JobStatus)
                                    {
                                        @Html.ActionLink("Open", "Apply", "Application", new {id = job.JobId}, null)
                                    }
                                    else
                                    {
                                        <p>Filled</p>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>No Open Positions</h2>
                }
            </div>
        </div>
    </div>
</div>
