﻿@model SG_Corp.Models.Data.Job

@{
    ViewBag.Title = "AddJob";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Job</h3>
        @Html.ActionLink("Return to List", "Jobs", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Job</label>
                @Html.TextBoxFor(m => m.JobName, new { @class = "form-control", placeholder = "Job" })
                <label>Job Description</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Job description that will be seen by applicants." })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>
