﻿@model SG_Corp.Models.Data.Applicant

@{
    ViewBag.Title = "ApplicantInfo";
}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>@Model.Name</h4>
               
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>@Model.Name</td>
                                <td>@Model.Email</td>
                                <td>@Model.Phone</td>

                            </tr>
                        </tbody>
                   </table>
            </div>
        </div>
    </div>
</div>
