﻿@model SG_Corp.Models.Data.Job

@{
    ViewBag.Title = "DeleteJob";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Job</h3>
        @Html.ActionLink("Return to List", "Jobs", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.JobId)
            <p>Are you sure that you wish to delete the major @Html.DisplayFor(m => m.JobName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Jobs", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div> 