﻿@model SG_Corp.Models.Data.Job

@{
    ViewBag.Title = "EditJob";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Job</h3>
        @Html.ActionLink("Return to List", "Jobs", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.JobId)
            <div class="form-group">
                <label>Job</label>
                @Html.TextBoxFor(m => m.JobName, new {@class = "form-control", placeholder = "Job"})
            </div>
            <div class="form-group">
                <label>Job Description</label>
                <p>@Html.TextAreaFor(m => m.Description, new {@class = "form-control"})</p>
            </div>
            <div class="form-group">
                <label>Job Status</label>
                <p>@Html.EditorFor(m => m.JobStatus, new { @class = "form-control" }) Filled</p>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      