﻿@model List<SG_Corp.Models.Data.Applicant>

@{
    ViewBag.Title = "JobApplications";
}

<div class="row">
    <div class="col-xs-12">
        @if (Model != null)
        {
            <table class="table table-striped col-lg-12">
                
                <tbody>

                foreach (var address in Model)

                {
                <tr>
                    <td>Email: address.Email</td>
                    <td>Phone: address.Phone</td>
                </tr>
                <tr>
                    <td>Street: address.Address.Street1</td>
                    <td>Street 2: address.Address.Street2</td>
                    <td>City: address.Address.City</td>
                </tr>
                <tr>
                    <td>State: address.Address.State</td>
                    <td>Postal Code: address.Address.PostalCode</td>
                </tr>
                <tr>
                    <td>Other: address.OtherInfo</td>
                </tr>
                }
                </tbody>
            </table>

        }
        else
        {
            <h1>No Applicants Yet</h1>
                    <h3>@Html.ActionLink("Return", "Jobs", "Admin", new { @class = "btn btn-primary" })</h3>
        }
    </div>

</div>
