﻿@model List<SG_Corp.Models.Data.Job>

@{
    ViewBag.Title = "Jobs";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Jobs</h3>
        @Html.ActionLink("Add Job", "AddJob", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Status</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Model)
                {
                    <tr>
                        <td>@job.JobName</td>
                        <td>
                            @if (job.JobStatus)
                            {
                                <div class="glyphicon glyphicon-ok"></div>
                            }
                            else
                            {
                                <div class="glyphicon glyphicon-remove"></div>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditJob", "Admin", new {id = job.JobId}, null) |
                            @Html.ActionLink("Delete", "DeleteJob", "Admin", new {id = job.JobId}, null)
                        </td>
                        <td>
                            @Html.ActionLink("Show Applicants", "ViewApplicants", "Admin", new {id = job.JobId}, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

