﻿@model List<SG_Corp.Models.Data.Applicant>

@{
    ViewBag.Title = "ViewApplicants";
}

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h4>Applicants</h4>
                @if (Model != null)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Applicant Name</th>
                                <th colspan="5">Address</th>
                                <th>Other Info</th>
                                <th colspan="2">Contact Info</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var applicant in Model)
                            {
                                <tr>
                                    <td>@applicant.Name</td>
                                    <td>@applicant.Address.Street1</td>
                                    <td>@applicant.Address.Street2</td>
                                    <td>@applicant.Address.City</td>
                                    <td>@applicant.Address.State</td>
                                    <td>@applicant.Address.PostalCode</td>
                                    <td>@applicant.OtherInfo</td>
                                    <td>@applicant.Email</td>
                                    <td>@applicant.Phone</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>No Applicants</h2>
                }
            </div>
        </div>
    </div>
</div>
