﻿@model ModelValidation1.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h2>Your appointment is confirmed</h2>

<p>Your name is: <b>@Html.DisplayFor(m => m.ClientName)</b>
</p>

<p>The Date on your appointment is: <b>@Html.DisplayFor(m => m.Date)</b></p>