﻿@model ModelValidation1.Models.Appointment

@{
    ViewBag.Title = "MakeBooking";
}

<h2>MakeBooking</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
        <p>@Html.LabelFor(m => m.ClientName): @Html.EditorFor(m => m.ClientName, new {@class = "form-control"})</p>
    </div>
    <div class="form-group">
        <p>@Html.ValidationMessageFor(m => m.Date)</p>
        <p>@Html.LabelFor(m => m.Date): @Html.EditorFor(m => m.Date, new {@class = "form-control"})</p>
    </div>
    <div class="form-group">
        <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
        <p>@Html.EditorFor(m => m.TermsAccepted, new {@class = "form-control"}) I accept the terms</p>
    </div>
    <button class="btn btn-default">Make Booking</button>

}