﻿@using SG_Corp.Models.Data
@model SG_Corp.Models.ViewModels.PolicyVM

@{
    ViewBag.Title = "AddPolicy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Policy</h3>
        @Html.ActionLink("Return to List", "ViewPolicies", "Policies", new {id = Model.Category.CategoryId}, null)

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Policy</label>
                @Html.TextBoxFor(m => m.Policy.Name, new {@class = "form-control", placeholder = "Policy Name"})
                <label>Policy Description</label>
                @Html.TextAreaFor(m => m.Policy.link, new {@class = "form-control", placeholder = "Link to the documentation of the policy you would like to add."})
            </div>
            @Html.HiddenFor(m => m.Category.CategoryId)
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>