﻿@model SG_Corp.Models.Data.Policy

@{
    ViewBag.Title = "DeletePolicy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Policy</h3>
        @Html.ActionLink("Return to List", "ViewPolicies", "Policies")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PolicyId)
            <p>Are you sure that you wish to delete the major @Html.DisplayFor(m => m.Name)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ViewPolicies", "Policies", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div> 