﻿@model SG_Corp.Models.Data.Policy

@{
    ViewBag.Title = "EditPolicy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Policy</h3>
        @Html.ActionLink("Return to List", "ViewPolicies", "Policies")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PolicyId)
            <div class="form-group">
                <label>Policy</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Policy" })
            </div>
            <div class="form-group">
                <label>Policy Description</label>
                <p>@Html.TextAreaFor(m => m.link, new { @class = "form-control" })</p>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>