﻿@model SG_Corp.Models.Data.Category

@{
    ViewBag.Title = "EditCategories";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Category</h3>
        @Html.ActionLink("Return to List", "ViewCategories", "Policies")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.CategoryId)
            <div class="form-group">
                <label>Category</label>
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder = "Category" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>