﻿@model SG_Corp.Models.Data.Category

<div class="row">
    <div class="col-xs-12">
        <h3>Policies</h3>
        @Html.ActionLink("Add Policy", "AddPolicy", "Policies", new {id = Model.CategoryId}, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            @if (Model != null)
            {
                <thead>
                <tr>
                    <th colspan="3">Policies</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var policy in Model.Policies)
                {
                    <tr>
                        <td>@policy.Name</td>
                        <td>@Html.ActionLink("View", policy.link)</td>
                        <td>@Html.ActionLink("Delete", "DeletePolicy", "Policies", new {id = policy.PolicyId}, null) | 
                        @Html.ActionLink("Edit", "EditPolicy", "Policies", new {id = policy.PolicyId}, null)</td>
                    </tr>
                    }
                </tbody>
            }
            else
            {
                <p>No policies to view</p>
            }
        </table>
    </div>
</div>
