﻿@model List<SG_Corp.Models.Data.Category>

@{
    ViewBag.Title = "ViewPolicies";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Categories</h3>
        @Html.ActionLink("Add Category", "AddCategory", "Policies", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            @if (Model != null)
            {
                <thead>
                <tr>
                    <th colspan="3">Policy Category</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td>@Html.ActionLink("View", "ViewPolicies", "Policies", new {id = category.CategoryId}, null)</td>
                        <td>@Html.ActionLink("Delete", "DeleteCategory", "Policies", new {id = category.CategoryId}, null)</td>
                    </tr>
                }
                </tbody>
            }
            else
            {
                <p>No policies to view</p>
            }
        </table>
    </div>
</div>
