﻿@using DataLayer.ViewModel
@model DataLayer.ViewModel.DvdVM

@{
    ViewBag.Title = "AddActorToDvd";
    Model.ActorsList = Model.ActorsList.OrderBy(m => m.Name).ToList();
}

<div class="row">
    <div class="col-lg-12">
        <h1>Actors</h1>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                @using (Html.BeginForm(null, null, null, FormMethod.Post, new {id="LinkActor"}))
                {
                    @Html.HiddenFor(m => m.Dvd.DvdID)
                    <div class="form-group">
                        <label>List of Actors:</label>
                        @Html.DropDownListFor(m => m.Actor.ActorID, new SelectList(Model.ActorsList, "ActorID", "Name"), "Choose actor")
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Add to DVD</button>
                }
                @using (Html.BeginForm(null, null, null, FormMethod.Post, new {id="AddNewActor"}))
                {
                    <label style="padding-top: 20px">Add Actor To List:</label>
                    @Html.TextBoxFor(m => m.Actor.Name, new {@class="form-control"})
                    <div style="padding-top: 10px">
                        <button type="submit" class="btn btn-block btn-primary">Create Actor</button>
                    </div>
                }
                <div style="padding-top: 20px">
                    @Html.ActionLink("Return to DVD", "ViewDvd", "Home", new { id = Model.Dvd.DvdID }, new { @class = "btn btn-block btn-primary" })
                </div>            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <table class="table table-hover" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Actors currently in DVD</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var actor in Model.Dvd.Actors)
                    {
                        <tr>
                            <td>@actor.Name</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/App/jquery-validate-defaults.js"></script>
    <script src="~/scripts/App/AddActorLinkValidation.js"></script>
    <script src="~/scripts/App/AddActorValidation.js"></script>
}
