﻿@using DataLayer.Repositories
@model DataLayer.Data.Director

@{
    ViewBag.Title = "AddDirector";
    var drepo = new DirectorRepository();
    var directors = drepo.GetAllDirectors();
    directors = directors.OrderBy(m => m.Name).ToList();
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Movie</h3>
        @Html.ActionLink("Return to Add DVD", "AddDvd", "Home", new {@class = "btn btn-primary"})
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new {id = "AddDirector"}))
        {
            <div class="form-group">
                <label>Director Name</label>
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
        <table class="table table-hover" id="directors">
            <thead>
            <tr>
                <th>Current Directors</th>
            </tr>
            </thead>
            <tbody>
            @*@foreach (var director in directors)
            {
                <tr class="success">
                    <td>@director.Name</td>
                </tr>
            }*@
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/App/jquery-validate-defaults.js"></script>
    <script src="~/scripts/App/AddDirectorValidation.js"></script>
    <script>
        var contactPath = '/api/Director/';

        function loadDirectors() {
            $.getJSON(contactPath)
            .done(function (data) {

                $('#directors tbody tr').remove();

                    $.each(data,
                        function(index, director) {
                            $(createRow(director)).appendTo($('#directors tbody'));
                        });
                });
        };

        function createRow(director) {
            return'<tr><td>' +
                director.Name +
                '<td><tr>';
        };

        $(document)
            .ready(function() {
                loadDirectors();
            });
    </script>
}