﻿@using DataLayer.Data
@using DataLayer.Repositories
@model DataLayer.ViewModel.DvdVM

@{
    ViewBag.Title = "AddDvd";
    var rating = RatingList.GetAllRatings();
    ActorsRepository arepo = new ActorsRepository();
    DirectorRepository drepo = new DirectorRepository();
    StudioRepositroy srepo = new StudioRepositroy();
    var actors = arepo.GetAllActors();
    var directors = drepo.GetAllDirectors().OrderBy(m=>m.Name).ToList();
    var studios = srepo.GetAllStudios().OrderBy(m=>m.Name).ToList();
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Movie</h3>
        @Html.ActionLink("Return to List", "Index", "Home", new {@class = "btn btn-primary", id = "AddDvd"})
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
        @using (Html.BeginForm("AddDvd", "Home", null, FormMethod.Post, new {id = "DvdForm"}))
        {
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(m => m.Dvd.Title, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Details</label>
                @Html.TextAreaFor(m => m.Dvd.Details, new {@class = "form-control", style = "height: 100px"})
            </div>

            <div class="form-group">
                <label>Link to Image</label>
                @Html.TextBoxFor(m => m.Dvd.ImageLink, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Release Date</label>
                @Html.EditorFor(m => m.Dvd.ReleaseDate, new {@style = "padding: 5px; border-radius: 5px"})
            </div>

            <div class="form-group">
                <label>Rating</label>
                @Html.DropDownListFor(m => m.Dvd.RatingID, new SelectList(rating, "RatingID", "Name"), "Choose a MSRP Rating",
                    new {@class = "form-control", style = "padding: 4px; border-radius: 5px"})
            </div>

            <div class="form-group">
                <label>Director</label>
                @Html.DropDownListFor(m => m.Director.DirectorID, new SelectList(directors, "DirectorID", "Name"), "Choose a Director",
                    new {@style = "width: 76%; padding: 5px; border-radius: 5px"})
            </div>
            @Html.ActionLink("Add Director", "AddDirector", "Home", new {@class = "btn btn-primary btn-block"})

            <div class="form-group">
                <label style="padding-top: 20px">Studio</label>
                @Html.DropDownListFor(m => m.Studio.StudioID, new SelectList(studios, "StudioID", "Name"), "Chose a Studio",
                    new {@style = "width: 80%; padding: 5px; border-radius: 5px"})
            </div>
            @Html.ActionLink("Add Studio", "AddStudio", "Home", new {@class = "btn btn-primary btn-block"})

            <div style="padding-top: 20px"><input type="submit" value="Add DVD" class="btn btn-primary btn-block"/>
            </div>

            /*<button type="submit" class="btn btn-sm btn-primary">Save</button>*/
        }
    </div>
</div>
    </div>
@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/App/jquery-validate-defaults.js"></script>
    <script src="~/scripts/App/AddDvdValidation.js"></script>
}