﻿@model List<DataLayer.Data.Dvd>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        a {
            display: inline-block;
            border: 0px solid #ddd;
            border-radius: 0px;
            padding: 0px;
            transition: 0.3s;
        }

            a:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }

        
    </style>
</head>
<h4>DVDs</h4>

@if (Model != null)
{

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        @foreach (var dvd in Model)
                        {
                            <div class="col-sm-3" style="padding-bottom: 50px">
                                <a href="@Url.Action("ViewDvd", "Home", new {id = dvd.DvdID}, null)">
                                    <img src="@dvd.ImageLink" class="img img-rounded" style="width: 100%; border: 5px solid #ddd;
                                           border-radius: 20px;"/>
                                </a>
                            </div>
                            <div class="col-sm-1"></div>
                        }
                        <div class="col-sm-3">
                            <a href="@Url.Action("AddDvd", "Home")">
                                <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/add_list.png" style="width: 100%; padding: 20px; padding-top: 50px; padding-left: 30px;"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-2">
                        <a href="@Url.Action("AddDvd", "Home")">
                            <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/add_list.png" style="width: 200px; height: 200px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script src="~/scripts/App/SortIndex.js"></script>
}