﻿@using DataLayer.Data
@model DataLayer.ViewModel.DvdVM

@{
    ViewBag.Title = "ViewDvd";
    var ratings = RatingList.GetAllRatings();
    var rating = ratings.Where(m => m.RatingID == Model.Dvd.RatingID).FirstOrDefault();
    
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <img src="@Model.Dvd.ImageLink" class="img-rounded" style="width: 100%; padding-top: 50px; padding-bottom: 20px">
        @Html.ActionLink("Back to List", "Index", "Home", new { @class = "btn btn-primary btn-block"})
    </div>
    <div class="col-sm-6" style="padding-top: 50px">
        <h4 style="padding-top: 50px"><B><u>Title:</u></B> @Model.Dvd.Title</h4>
        <h6 style="padding-top: 5px"><B>Description:</B> @Model.Dvd.Details</h6>
        <h6><B>Directed By: </B>@Model.Director.Name</h6>
        <h6><B>Rated: </B>@rating.Name</h6>
        <h6><B>Release Date: </B>@Model.Dvd.ReleaseDate.Date.Year</h6>
        <h6><B>Studio: </B>@Model.Studio.Name</h6>
        <h6><b>List of Actors:</b></h6>
        <table class="table" style="width: 30%">
            <tbody>
            @foreach (var actor in Model.Dvd.Actors)
            {
                <tr>
                    <td style="padding-left: 20px">@actor.Name</td>
                </tr>
            }
            </tbody>
        </table>

        <div>@Html.ActionLink("Add Actors", "AddActorToDvd", "Home", new {id = Model.Dvd.DvdID}, new {@class = "btn btn-primary"}) 
        </div>
    </div>
</div>
