﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to SG Corp Human Resources Page.</h2>
        <p>This is the hiring portal for the SG Corp HR.</p>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>


